
<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>

  <body>
    <% include partials/_header %>


      <% let keys = Object.keys(urls) %>
      <% keys.forEach(function (key){ %>
      <ul>

        <li>

          <a href="/u/<%= key %>"><%= key %></a> ==> <%= urls[key].longURL %>

          <% if (urls[key].userid === userid) { %>

            <a href="/urls/<%= key %>">edit</a>
            <form method="POST" action="/urls/<%= key %>/delete" style="display: inline;">
            <input type="submit" value="Delete">
            </form>

          <% } %>

        </ul>

      <% }); %>

      </ul>

      <% include partials/_footer %>

    </body>

</html>