
<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="../style.css">
  </head>

  <body class="w3-content" style="max-width:600px">
    <% include partials/_header %>

      <% let keys = Object.keys(urls) %>
      <% keys.forEach(function (key){ %>

        <div class="w3-panel">

          <a href="/u/<%= key %>"><%= key %></a> ==> <%= urls[key].longURL %>

          <% if (urls[key].userid === userid) { %>

            <a href="/urls/<%= key %>" class="w3-btn w3-teal w3-tiny">Edit</a>
            <form method="POST" action="/urls/<%= key %>/delete" style="display: inline;">
            <input type="submit" value="Delete" class="w3-btn w3-teal w3-tiny">
            </form>

          <% } %>


        </div>


      <% }); %>




      <% include partials/_footer %>

    </body>

</html>