
<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="../style.css">
  </head>

  <body class="w3-content" style="max-width:600px">
  <% include partials/_header %>
    <% let keys = Object.keys(urls) %>
    <% if (urls[shortURL].userid === userid) { %>
    <div class="w3-panel">
      <form action="/urls/edit" method="POST">
        <label for="newURL">Modify URL:</label>
        <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px" value="<%= urls[shortURL].longURL %>">
        <input type="hidden" name="shortURL" value="<%= shortURL %>">
        <input type="submit" value="Change" class="w3-btn w3-teal">
      </form>
      <%  } %>
      <p><a href="../u/<%= shortURL %>"><%= shortURL %></a> is currently pointing to <a href="<%= urls[shortURL].longURL %>"><%= urls[shortURL].longURL %></a>
      </div>

  <% include partials/_footer %>
  </body>
</html>